// clang-format off
#pragma once

#define RATE %RATE%
#define CAPACITY %CAPACITY%
#define CHUNK_BY %CHUNK_BY%
#define HALF_NUM_FULL_ROUNDS %HALF_NUM_FULL_ROUNDS%
#define NUM_PARTIAL_ROUNDS %NUM_PARTIAL_ROUNDS%
#define ROUND_CONSTANTS_VALUES %ROUND_CONSTANTS_VALUES%

// clang-format on